.badge-shadow{
    box-shadow: 3px 5px 5px #00000036;
    border-radius: 1px 30px;
}

.login-page{
    background: url(/assets/img/photo1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-cprz {
    background-color: #3d9970;
}

.card-prz:not(.card-outline) > .card-header {
    background-color: #3d9970;
}

.card-prz:not(.card-outline) > .card-header,
.card-prz:not(.card-outline) > .card-header a {
    color: #fff;
}

.card-prz:not(.card-outline) > .card-header a.active {
    color: #1f2d3d;
}

.card-prz.card-outline {
    border-top: 3px solid #3d9970;
}

.card-prz.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #dee2e6;
}

.card-prz.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #3d9970;
}

.bg-prz .btn-tool,
.bg-gradient-prz .btn-tool,
.card-prz:not(.card-outline) .btn-tool {
    color: rgba(255, 255, 255, 0.8);
}

.bg-prz .btn-tool:hover,
.bg-gradient-prz .btn-tool:hover,
.card-prz:not(.card-outline) .btn-tool:hover {
    color: #fff;
}

.error-page{
    width: 750px !important;
}

[class*=sidebar-light-] .nav-flat .nav-item .nav-treeview>.nav-item>.nav-link.active{
    border-color: #519a71 !important;
}

.nav-flat.nav-sidebar>.nav-item .nav-treeview .nav-item>.nav-link, .nav-flat.nav-sidebar>.nav-item>.nav-treeview .nav-item>.nav-link
{
    border-left:.4rem solid !important;
}

.nav-pills .nav-link:not(.active):hover{
    color: #519a71 !important;
}

.register-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
